body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

header {
  background: #0d1117;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 6px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #0d1117;
  color: white;
}
