name: CI + Deploy Static Website

on:
  push:
    branches: ["main"]

jobs:
  build-validate-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install validation tools
        run: |
          sudo apt-get update
          sudo apt-get install -y tidy csslint

      - name: Validate HTML
        run: tidy -e index.html

      - name: Validate CSS
        run: csslint style.css

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
